#ContextMenu:not(.HideContextMenu) 
{
    background-color: white;
    position: absolute;
    pointer-events: none;
    display: grid;
    grid-template-columns: auto;
    border : 1px solid black;
    width : 200px;
    height : 300px;

}
#ContextMenu *{
    margin : 0;
    padding : 0;
    pointer-events: all;
}
.HideContextMenu {
    display: none;
    
}